In [1]:
import pandas as pd
import numpy as nb
import csv

In [2]:
#import CSV file

election = "election_data_1.csv"
election_df = pd.read_csv(election)

election_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [3]:
#Verify row counts
election_df.count()

Voter ID     803000
County       803000
Candidate    803000
dtype: int64

In [4]:
# total votes 
Total = len(election_df)

Total

803000

In [5]:
#determine each candidate votes
vote_count = election_df["Candidate"].value_counts()

vote_count

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [6]:
Votes = election_df.groupby("Candidate")["Voter ID"].count()

Votes

Candidate
Cordin     24090
Seth       40150
Torres    353320
Vestal    385440
Name: Voter ID, dtype: int64

In [7]:
votes_df = pd.DataFrame({"Votes": Votes})

votes_df

            Votes
Candidate
Cordin      24090
Seth        40150
Torres     353320
Vestal     385440

In [8]:
percentage_of_votes = votes_df["Votes"]/Total

percentage_of_votes

Candidate
Cordin    0.03
Seth      0.05
Torres    0.44
Vestal    0.48
Name: Votes, dtype: float64

In [9]:
votes_df["Percent of votes"] = percentage_of_votes

votes_df

            Votes  Percent of votes
Candidate
Cordin      24090              0.03
Seth        40150              0.05
Torres     353320              0.44
Vestal     385440              0.48

In [12]:
votes_df = votes_df.reset_index()
votes_df

  Candidate   Votes  Percent of votes
0    Cordin   24090              0.03
1      Seth   40150              0.05
2    Torres  353320              0.44
3    Vestal  385440              0.48

In [14]:
max_votes = votes_df.loc[votes_df["Votes"].idxmax()]

Winner = max_votes["Candidate"]
Winner

'Vestal'