In [21]:
import pandas as pd
import csv
import numpy as nb

In [22]:
#import CSV file

budget = "budget_data_2.csv"

budget_df = pd.read_csv(budget)

budget_df.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [23]:

Total = "Total Months: " + str(len(budget_df))

In [24]:
total_sum = budget_df["Revenue"].sum()

sum_revenue = "Total Revenue: $" + str(total_sum)

sum_revenue

'Total Revenue: $36973911'

In [25]:
Change = budget_df["Revenue"] - budget_df["Revenue"].shift(-1)

Change.head()

0    -118875.0
1     852486.0
2     945365.0
3   -1578219.0
4     484242.0
Name: Revenue, dtype: float64

In [26]:
budget_df = budget_df.assign(Change=Change.values)


budget_df.head()

       Date  Revenue     Change
0  Jan-2009   943690  -118875.0
1  Feb-2009  1062565   852486.0
2  Mar-2009   210079   945365.0
3  Apr-2009  -735286 -1578219.0
4  May-2009   842933   484242.0

In [27]:
max_change = budget_df.loc[budget_df["Change"].idxmax()]
 
Date = max_change["Date"]
Change = max_change["Change"]
x = int(Change)

max = "Greatest Increase in Revenue: " + str(Date) + " ($" + str(x) + ")"
max

'Greatest Increase in Revenue: May-2014 ($1947745)'

In [28]:
min_change = budget_df.loc[budget_df["Change"].idxmin()]
 
Date = min_change["Date"]
Change = min_change["Change"]
x = int(Change)

min = "Greatest Decrease in Revenue: " + str(Date) + " ($" + str(x) + ")"
min

'Greatest Decrease in Revenue: Jun-2014 ($-1645140)'

In [29]:
avg = budget_df["Change"].mean()

avg = int(avg)

out = "Average Revenue Change: $" + str(avg)

out

'Average Revenue Change: $5955'

In [30]:
"Financial Analysis"

'Financial Analysis'

In [37]:
print("Financial Analysis") 
print("---------------------------------------------------")

print (Total)
print (sum_revenue)
print (max)
print (min)

Financial Analysis
---------------------------------------------------
Total Months: 86
Total Revenue: $36973911
Greatest Increase in Revenue: May-2014 ($1947745)
Greatest Decrease in Revenue: Jun-2014 ($-1645140)